/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Root */
:root{
  --main: #f0870d;
  --sec: #1e2d58;
  --gray: #929292;
}
*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.para{
  color: var(--gray);
}
.large-heading{
  font-size: 100px;
  font-weight: 800;
}
.main-heading{
  font-size: 50px;
  font-weight: 700;
}
.sub-heading{
  font-size: 35px;
  font-weight: 700;
}
.mini-heading{
  font-size: 20px;
  font-weight: 700;
}
.cursive-heading{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
}
.btns{
  padding: 10px 20px;
  font-weight: 600;
  background-color: var(--main);
  border: 0;
  color: #fff;
  border-radius: 5px;
}
a{
  text-decoration: none;
  font-weight: bold;
}