.cont-banner{
   height: 400px;
   background-image: url(/asset/images/banner1.jpg);
   background-size: cover;
   background-position: bottom;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cont-banner .banner-box{
    color: #fff;
    text-align: center;
}
.cont-sec{
    padding: 100px 0;
}
.cont-head{
    display: flex;
    align-items: center;
}
.cont-head p{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.cont-head .circle{
    background-color: var(--main);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-head .circle span{
    color: #fff;
}
.add-1,
.call-1,
.call-2,
.mail{
    margin-top: 30px;
}
.call-1 a,
.call-2 a,
.mail a{
    color: var(--grey);
}
.form-section{
    position: relative;
    margin-bottom: 400px;
}
.form-section .container{
    background-color: #f9f4f0;
    padding: 100px 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px lightgrey;
}
.form-head{
    text-align: center;
    margin-bottom: 50px;
}
.form-head .para{
    width: 50%;
    margin: 0 auto;
}
.form-box form input,
.form-box form textarea{
    all: unset;
    display: block;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 15px 30px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.form-box .btns{
    background-color: var(--main);
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.map{
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 600px;
    z-index: -1;
}

/******************** ABOUT PAGE STYLES  ***************************/
.abt-blog-sec{
    padding: 100px 0;
}
.blog-row-1{
    margin-bottom: 50px;
}
.abt-blog-box{
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.abt-blog-box::before{
    content: '';
    height: 50%;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 80%); 
    position: absolute;
    bottom: 0;
}
.abt-blog-box .cont{
    position: absolute;
    padding: 20px;
    bottom: 0;
    color: #fff;
}
.abt-blog-box a{
    color: #fff;
    background-color: var(--sec);
    padding: 3px 10px;
    border-radius: 30px;
}
.abt-blog-box .cont .mini-heading{
    margin-top: 20px;
}
.progress{
    height: 5px;
}
.progress div{
    background-color: var(--sec);
}
.bar-2{
    width: 90%;
}

/* About Main Section */
.main-sec{
    padding: 100px 0;
}
.main-img-box{
    position: relative;
    height: 500px;
}
.main-img-box img{
    position: absolute;
}
.img-1{
    width: 80%;
    top: 75px;
    left: 60px;
    border-radius: 20px;
}
.img-2{
   width: 150px;
   border-radius: 15px;
   left: 180px;
   top:20px
}
.img-3{
    width: 200px;
    border-radius: 15px;
    right: 0;
    z-index: -1;
}
.img-4{
    width: 120px;
    border-radius: 15px;
    right: 0;
    bottom: 20px;
}
.img-5{
    height: 180px;
    border-radius: 20px;
    bottom: 0;
}