.travel-video{
    background-image: url(./asset/images/side_map_bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.travel-video-box .large-heading{
    padding: 50px 0;
    text-align: center;
}
.video-box{
    display: flex;
    justify-content: center;
}
.partner-box{
    padding: 100px 0 100px 0;
}