.banner-sec{
    height: calc(90vh - 80px);
    overflow: hidden;
}
.main-banner{
    height: 100%;
}
.slider-cont{
    position: absolute;
    width: 35%;
    top: 50%;
    left: 200px;
    animation: slide 0.8s;
    transform: translateY(-50%);
}
@keyframes slide {
    0%{
         transform: translateY(-10%);
         opacity: 0;
    }
    100%{
        transform: translateY(-50%);
        opacity: 1; 
    }
}
.slider-cont h5,
.slider-cont p{
    margin-bottom: 30px;
    color: #fff;
}