RewriteEngine On
# RewriteBase /aspire-web/

# Rewrite /package-details/package-id to package-details.php?id=package-id
RewriteRule ^package-details/([^/]+)/?$ package-details.php?id=$1 [L,QSA]


RewriteRule ^blog_details/([^/]+)/?$ blog_details.php?id=$1 [L,QSA]

# RewriteRule ^visa_detail/([^/]+)/?$ visa_detail.php?id=$1 [L,QSA]
